:root {
    color: #121212;
    font-family: notosans, "Nanum Gothic", "Malgun Gothic", sans-serif;
}

#user-menu {
    color: #333;
    background-color: #eee;
}
#user-menu .menu-list {
    display: flex;
    margin: 0 auto;
    max-width: 1100px;
    justify-content: right;
}
#user-menu .menu-item {
    font-size: 12px;
    padding: 9px 6px;
}
.title-wrap {
    position: relative;
	width: 1100px;
	margin: 0 auto;
    padding: 20px;
    text-align: center;
}
.search-wrap {
    position: absolute;
    right: 30px;
	top: 35%;
}
.search-box {
    display: flex;
	position: relative;
	width: 248px;
	height: 36px;
	border: 1px solid #ccc;
    padding: 4px 10px 2px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 2px; 
}
.search-box input {
    width: 100%;
    border: none;
}
.icon.sprite-search {
	position: absolute;
    display: block;
    right: 10px;
    top: 50%;
    width: 30px;
    height: 17px;
    margin-top: -8px;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    background-position: 0 -40px;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-size: 200px 200px;
    background-image: url("images/sp_ico_1x.png");
}
.main-menu-wrap {
	border: 1px solid #ccc;
	padding: 17px 0;
}
#main-menu {
	width: 1100px;
	margin: 0 auto;
	border-left: 0;
	border-right: 0;
	display: flex;
}
#main-menu .show-all-button {
	padding: 0 105px 0 10px;
	box-sizing: border-box;
	flex-grow: 2;
}
#main-menu .show-all-button>span {
	float: right;
}
#main-menu .menu-list {
	display: flex;
	flex-grow: 12;
}
#main-menu .menu-item {
	width: 100%;
	text-align: center;
}
#main-menu .menu-item a {
	color: #121212;
	font-weight: 500;
	text-decoration: none;
	text-transform: uppercase;
}